<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DHA website</title>
        <link rel="icon" href="{% static "images/logo.png" %}">
        <!-- bootstrap -->
      {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> {% endcomment %}

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
        
        {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> {% endcomment %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    </head>

    <body>
        <nav>
            <input type="checkbox" id="check" >
            <label for="check" class="checkbtn">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </label>
            <a class ="logo" href="/">DHA Islamabad</a>
                {% comment %} <img src="{% static "images/logo.png"  %}" class="logoicon" alt=""> {% endcomment %}
        
            <ul>
                <li><a class="active" href="/">Home</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'View_property' %}">Property</a></li>
                    <li><a href="{% url 'Architect'%}">Architect</a></li>
                    <li><a href="{% url 'Soil_Firms'%}">Soil Firm</a></li>
                    <li><a href="{% url 'Solar_Firms'%}">Solar Firm</a></li>
                    <li><a href="{% url 'Vetting_Engineers'%}">Veeting Engineer</a></li>
                    <li><a href="{% url 'Register'%}">Register</a></li>
                    <li><a href="{% url 'Contact'%}">Contact</a></li>
                    <li><a href="{% url 'Logout'%}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'Login'%}">Login</a></li>
                    <li><a href="{% url 'Signup'%}">Signup</a></li>
                {% endif %}
    
                
            </ul>
        </nav>

        {% comment %} {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %} {% endcomment %}


        {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %} 


    {% block body %}
    {% comment %} <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>Contact Information</h3>
                    <p>Email: info@example.com</p>
                    <p>Phone: +123 456 789</p>
                </div>
                <div class="col-md-6">
                    <h3>Follow Us</h3>
                    <ul class="social-icons">
                        <li><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <!-- Add more social icons as needed -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 Your Website. All rights reserved.</p>
        </div>
    </footer> {% endcomment %}
    
    {% endblock body %}

    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> {% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.7/jquery.inputmask.min.js"></script>

    {% block scripts%}
    {% endblock %}
</html>