{% extends "base.html" %}

{% block body %}

<div class= "heading_property">
    <h1 class=heading_property>Registration Form </h1>
</div>

<div class="container_form">
    <form method="POST" action="{% url 'Category_registration' %}"  enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Registration Form</h2>
        <label for="reg_no"> Regd No: </label>
        <input type="text" name="reg_no" required placeholder=" Regd No">
        <br>
        <label for="name"> Name: </label>
        <input type="text" name="name" required placeholder="Name">
        <br>
        <label for="firm">Name of Firms: </label>
        <input type="text" name="firm" required placeholder="Name of Firms">
        <br>
       <label for="phone" class="form-label">Contact Number</label>
       <input type="text" class="form-control" id="phone" name="phone" pattern="[0-9]{4}-[0-9]{7}" placeholder="0333-1234567">
       {% comment %} <label for="desic">Designation: </label>
       <select name="desic" id="designation" required>

        
        {% for data in form %}
         <option value="{{ data.desic}}">{{ data.desic }}</option>
        {% endfor %} 
       </select> {% endcomment %}
        {% comment %} <select name="desic" id="designation" required>  
          <option value="">-Select designation-</option>
        <option value="architect">Architecture</option>
        <option value="soil">Soil test Firms</option>
        <option value="solar">Solar Firms</option>
        <option value="Vetting">Vetting Engineer</option> 
        </select><br> {% endcomment %}

    <select name="desic" id="designation" required>
        <option value="">-Select designation-</option>
        {% for data_desig in data_desic %}
            <option value="{{ data_desig.desic }}">{{ data_desig.desic }}</option>
        {% endfor %}
    </select><br>

       <label for="up_file" class="up_file">Upload File: </label>
       <input type="file" name="up_file" id="upload_file" accept=".doc, .docx, .pdf, .txt" required><br><br>
       
       <label for="up_image" class="upload_img">Upload Image: </label>
       <input type="file" name="up_image" id="upload_image"accept="image/*" required><br><br>

         <label for="address">Address:</label><br>
        <textarea name="address" id="address" cols="30" rows="4" required
            placeholder="Type your address here.."></textarea><br><br>
        {% comment %} <input type="checkbox" name="newsletter" id="newsletter" required>
        <label for="newsletter">Agree and Accept</label><br><br> {% endcomment %}

        <button type="submit" id="btn-save" value="">Save</button>
        {% comment %} <input type="submit" value="View" >  {% endcomment %}
        
    </form>
</div>

{% endblock body %}